<!-- Header -->
<app-navbar></app-navbar>
<button class="btn btn-primary mr-10" (click)="switchLanguage('en')">English</button>
<button class="btn btn-primary" (click)="switchLanguage('ar')">Arabic</button>
<!-- Body -->
<main class="content">

  <router-outlet></router-outlet>
</main>

<!-- Footer
<footer class="footer">
  <div class="info">
    <p>Some info text</p>
  </div>
  <div class="images">
    <img src="assets/image1.png" alt="Image 1">
    <img src="assets/image2.png" alt="Image 2">
  </div>
</footer>-->
