<div class="container mt-4">
    <h2>{{'hackathons' | translate}}</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{'Name'|translate}}</th>
          <th>{{'Date'|translate}}</th>
          <th>{{'Theme'| translate}}</th>
          <th>{{'Actions'| translate}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hackathon of hackathons">
          <td>{{ hackathon.name }}</td>
          <td>{{ hackathon.date }}</td>
          <td>{{ hackathon.theme }}</td>
          <td><button type="button" class="btn btn-primary" (click)="redirectToDetails(hackathon.id)">{{'Details'| translate}}</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  