<div class="container mt-4">
  <h5>{{'add_new_hackathon'|translate}}</h5>
  <div class="card-body">
    <div class="form-group mb-3">
      <label for="hackathonName">{{'Name'|translate}}</label>
      <input type="text" class="form-control" id="hackathonName" [(ngModel)]="newHackathon.name" required>
    </div>
    <div class="form-group mb-3">
      <label for="hackathonTheme">{{'Theme'|translate}}</label>
      <input type="text" class="form-control" id="hackathonTheme" [(ngModel)]="newHackathon.theme" required>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group mb-4">
          <label for="registrationStartDate">{{'Registration Start Date'|translate}} </label><br>
          <p-calendar id="registrationStartDate" [(ngModel)]="newHackathon.registrationStartDate"
            dateFormat="dd/mm/yy"></p-calendar>
        </div>
      </div>
      <div class="col">
        <div class="form-group mb-4">
          <label for="registrationEndDate">{{'Registration End Date'|translate}} </label><br>
          <p-calendar id="registrationEndDate" [(ngModel)]="newHackathon.registrationEndDate"
            dateFormat="dd/mm/yy"></p-calendar>
        </div>
      </div>
      <div class="col">
        <div class="form-group mb-4">
          <label for="eventDate">{{'Event Date'|translate}} </label><br>
          <p-calendar id="eventDate" [(ngModel)]="newHackathon.eventDate" dateFormat="dd/mm/yy"></p-calendar>
        </div>
      </div>
    </div>
    <div class="form-group mb-3">
      <label for="challengeTitles">{{'Challenge Titles'|translate}}</label>
        <div class="list-group-item" *ngFor="let title of newHackathon.challengeTitles; let i = index">
          <input type="text" id="challengeTitles" class="form-control" [(ngModel)]="newHackathon.challengeTitles[i]" required>
          <button type="button" class="btn btn-danger btn-sm float-right"
            (click)="removeChallengeTitle(i)">Remove</button>
        </div>
      <button type="button" class="btn btn-primary" (click)="addChallengeTitle()">{{'Add Challenge'|translate}}</button>
    </div>
    <div class="form-group mb-3">
      <label for="maxTeamSize">{{'Max Team Size'|translate}}</label>
      <input type="number" class="form-control" id="maxTeamSize" [(ngModel)]="newHackathon.maxTeamSize" required>
    </div>
    <div class="form-group mb-3">
      <label for="maxNumTeams">{{'Max Number of Teams'|translate}}</label>
      <input type="number" class="form-control" id="maxNumTeams" [(ngModel)]="newHackathon.maxNumTeams" required>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">{{'add_new_hackathon'|translate}}</button>
  </div>
</div>